#suggested-newsletters {
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .card-custom {
    padding: 20px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 2px;
    transition: all 0.3s;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
    @include mq-small {
      height: auto;
    }
    &:hover {
      box-shadow: -5px 4px 8px 2px whitesmoke;
      .adding-mail {
        background-color: $black-cl;
        color: white;
      }
    }
    @include mq-small {
      display: flex;
    }
    .card-head-custom {
      img {
        width: 82px;
      }
      .adding-mail {
        position: absolute;
        top: 20px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 8px;
        border: 3px solid $black-cl;
        border-radius: 50%;
        transition: all 0.3s;
      }
    }
    .card-body-custom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 190px;
      @include mq-small {
        flex-direction: column;
        margin-left: 10px;
        height: auto;
      }
      h6 {
        font-weight: 300;
        margin: 10px 0px 0px;
        font-size: 13px;
        @include mq-small{
            margin: 0px;
        }
      }
      h5 {
        font-weight: 700;
        margin-top: 0px;
      }
      p {
        line-height: 18px;
        margin-bottom: 30px;
        font-weight: 400;
        @include mq-small {
          margin-bottom: 10px;
        }
      }
      a {
        color: rgb(50, 104, 145) !important;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}
