* {
  margin: 0;
  padding: 0;
}
main {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
a {
  text-decoration: none;
  color: $black-cl !important;
  &:hover {
    text-decoration: none;
  }
}
ul {
  list-style-type: none;
}

@include container;
